body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  width: 100%;
  height: 3rem;
  color: #b7b7b8;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.header-wrapper {
  max-width: 1176px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-item-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu-items {
  height: 100%;
  align-items: center;
  display: flex;
  padding-right: 1.5rem;
  border-right: 1px solid #f0f1f2;
  gap: 1.5rem;
}

.nav-menu-currency {
  height: 100%;
  align-items: center;
  gap: 1rem;
  display: flex;
  padding: 0 1.5rem;
  border-right: 1px solid #f0f1f2;
}

.nav-menu-currency i {
  margin-top: -5px;
}

.nav-menu-cart {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 1.5rem;
  border-right: 1px solid #f0f1f2;
}

.nav-menu-search {
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  gap: 1rem;
}

nav {
  width: 100%;
  background-color: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  margin: 1rem 0;
  max-width: 1176px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  gap: 1rem;
  display: flex;
  padding-right: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  border: 2px solid black;
}

.nav-links a.active {
  border: 2px solid black;
}

.carousel {
  width: 100%;
  height: 683px;
  background-image: url("/images/slide2_image.webp");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.carousel a:hover {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #5ba0d0;
  background-color: #5ba0d0;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.carousel h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1rem;
  margin-top: -10rem;
}

.carousel h2 {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 3rem;
}

.highlight-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: -11rem;
}

.highlight-container i {
  font-size: 2rem;
  color: #ffffff;
}
.card {
  background-color: #4dafd7;
  height: 235px;
  width: 370px;
}

.card-price p {
  margin: 0;
}

.featured-products-container {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-products-container h4 {
  margin: 4rem 0;
}

.product-card-container {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin: 0;
  margin-left: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-top: 3rem;
  font-size: 3rem;
}

.card h4 {
  margin: 0;
  margin-left: 1rem;

  margin-top: 0.5rem;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.5rem;
}

.card.gps {
  background-image: url("/images/gps.avif");
}

.card.apparel {
  background-image: url("/images/apparel.avif");
}

.card.headset {
  background-image: url("/images/headset.webp");
}

.card-image {
  background-color: #f8f8f8;
  background-image: url("images/akg_aviation_av100_anr_headset_02_270x335_crop_top.avif");
  width: 270px;
  height: 335px;
}

.product-arrows {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  justify-content: space-between;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #589ec2;
  font-size: 1rem;
  border: 2px solid #589ec2;
  width: 2rem;
  height: 2rem;
}

.parallax {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  background-image: url("/images/parallax.webp");
  background-position: center;
  justify-content: center;
}

.parallax-content {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.parallax-content h1 {
  font-size: 3rem;
  font-weight: 200;
}

.parallax a:hover {
  text-decoration: none;
  color: white;
  border: 2px solid #5ba0d0;
  background-color: #5ba0d0;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.parallax a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.newsletter a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
  align-self: center;
}

.newsletter {
  width: 100%;
  background-color: #589ec2;
  padding: 3rem 0;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter i {
  font-size: 3rem;
}

.newsletter a:hover {
  text-decoration: none;
  color: #589ec2;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.newsletter input {
  width: 570px;
  height: 35px;
  margin-right: 0.5rem;
}

.newsletter .text {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer {
  width: 100%;
  background-color: #3b3442;
  display: flex;
  justify-content: center;
}

.footer-items {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 2rem;
}

.footer-information {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: #c3c3c3;
  font-weight: 100;
  font-size: 0.8rem;
}

.footer-information h4 {
  font-size: 1rem;
  font-weight: 100;
  color: #ffffff;
}
